.footer {
  background-color: #151515;
  padding: 50px 0;
}

.footer .container {
  display: flex;
}

.footer-list {
  margin: 0 80px;
}

.footer-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  margin-left: 12px;
  line-height: 48px;
  color: #fff;
  margin-top: 30px;
}

.footer-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #dadada;
  width: 500px;
  display: flex;
  margin: 30px 0;
  align-items: flex-start;
}

.footer-logo {
  margin: 0 8px;
}

.footer-bottom {
  background: #262626;
  padding: 40px 0;
}

.footer-bottom .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-bottom h4 {
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.footer-bottom p{
    color: #fff;
    width: 150px;
    margin-top: 10px;
}
